---
import RecentBlogPosts from "@components/generic/RecentBlogPosts.astro";
import AboutMe from "@components/home/AboutMe.astro";
import Description from "@components/home/Description.astro";
import MobileSocials from "@components/home/MobileSocials.astro";
import Layout from "@layouts/Default.astro";
---

<Layout
	title="Home"
	pageTitle="Circle DAM"
	description="Med Ayoub Alouane | Conférencier International | Créateur de contenu | Directeur Technique IT | passioné de l'Intelligence Economique"
>
	<main class="bg-green p-6">
		<MobileSocials />
		<AboutMe />
		<Description />
		<RecentBlogPosts />
	</main>
</Layout>
