---
import { Card, Pill } from "@eliancodes/brutal-ui";
import { Image } from "astro:assets";

const doing = [
	{ name: "Economie", url: "https://circledam.com/blog/tags/economie/" },
	{ name: "Politique", url: "https://circledam.com/blog/tags/politique/" },
	{ name: "Cybersécurité", url: "https://circledam.com/blog/tags/cybersecurite/" },
	{ name: "Géopolitique", url: "https://circledam.com/blog/tags/geopolitique/" },
	{ name: "Finance", url: "https://circledam.com/blog/tags/finance/" },
	{ name: "IA", url: "https://circledam.com/blog/tags/ia/" },
	{ name: "Société", url: "https://circledam.com/blog/tags/societe/" },
	{ name: "Afrique", url: "https://circledam.com/blog/tags/afrique/" },
	{ name: "France", url: "https://circledam.com/blog/tags/france/" },
];

---

<section class="mt-8 grid md:grid-cols-2 gap-8">
	<div class="flex flex-col gap-8">
	<Card>
		<h2 class="text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif">
			A propos de CircleDam:
		</h2>
		<p class="poppins mt-2">
			Nous ne prétendons pas être des penseurs ni des experts absolus. Avec des outils solides, rigoureux et à la portée de tous, nous essayons de déchiffrer, décortiquer et aller jusqu'au bout pour vous fournir des idées, des critiques et une pensée qui se distingue des discours dominants par sa qualité.
		</p>
	</Card>
	<Card>
		<h2 class="text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif">
			Sujets qui m'intéressent?
		</h2>
		<ul class="flex gap-4 flex-wrap">
			{
				doing.map((item) => (
					<li class="sanchez">
						<Pill>
							<a href={item.url} target="_blank" title={`Go to ${item.name}`}>
								{item.name}
							</a>
						</Pill>
					</li>
				))
			}
		</ul>
	</Card>
	</div>
	<Card color="orange">
		<h2 class="text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif">Qui suis-je ?</h2>
		<p class="poppins">
			Je suis Mohamed Ayoub <a
			href="https://www.linkedin.com/in/med-ayb-alouane/"
			class="underline"
			target="_blank">Alouane</a
			>, un passionné de l'intelligence économique, 
			de l'économie politique et de la géopolitique. Avec mon diplôme d'ingénieur d'Etat
			et mon exepertise dans l'ingénieurie logiciel j'ai travaillé sur divers projets 
			et développé des compétences solides en gestion de projets et en 
			communication stratégique. En tant que conférencier international, j'ai partagé mes 
			connaissances lors de nombreux événements prestigieux, et j'aime explorer les interactions 
			complexes entre la technologie et les dynamiques économiques et politiques.
		</p>
		<p class="poppins mt-2">
			Débutant en intelligence économique, j'ai créé ce blog pour partager mes analyses 
			et réflexions sur des sujets tels que la politique, l'économie, la géopolitique et 
			la cybersécurité. Je m'efforce de rendre ces thématiques accessibles et intéressantes 
			pour tous, en combinant mon intérêt pour l'intelligence économique avec mes autres 
			passions.
		</p>
	</Card>
</section>
